
.content {
    margin-left : 2%;
    margin-right : 2%;
    margin-top : 5%;
    marign-bottom : 5%;
    border-radius: 4px;
    border: 1px solid white;
}

.header {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2rem;
}


.header .header-content .nick {
    font-size: 1.5rem;
    margin: 0;
}

.header .header-content .information {
    font-size: 0.5rem;
    margin-top: 3%;
    margin-bottom: 3%;
}

.body {

}

.body .body-content {
    margin-left: 3%;
    margin-right : 3%;
}

.title {
    margin-bottom : 0.5%;
}
.body-content .introduce-content {
    font-size : 0.4rem;
}

.body-content .introduce-content p {
    margin : 0;
}


.sub::before{
    margin-left : 1%;
    content : "";
}

.sub {
    font-size : 0.5rem;
    margin-bottom : 0;
}



.sub-sub::before {
    content : " - ";
    margin-left : 2%;
}
.sub-sub {
    font-size : 0.35rem;
    margin-top : 0;
}

.project-box {
    border : 1px solid white;
    margin-bottom : 1%;
    margin-top : 1%;
    margin-top : 0.5rem;
    padding-bottom : 1%;
}

.project-title {
    font-size : 0.6rem;
    margin-bottom : 0.5%;
    margin-left : 1%;
    margin-top : 1%;
}

.project-comment {
    font-size : 0.5rem;
    margin-top : 2%;
    margin-bottom : 0;
    margin-left : 3%;
}

.project-comment::before {
    content : " - ";

}

.detail::before {
    content : "🔍";
}

.detail {
    font-size : 0.4rem;
    display : inline;
    margin-left : 3%;
    margin-bottom : 3%;
    text-decoration : none;
}

.detail:link{
    color :white;
}

.detail:visited {
    color : white;
}

.detail:hover{
    color : aqua;
}


.git {
    font-size : 0.4rem;
    display : inline;
    margin-left : 3%;
    text-decoration : none;
}

.git:link{
    color :white;
}

.git:visited {
    color : white;
}

.git:hover{
    color : aqua;
}

.git::before {
    content : "🐈";
}

.completion {
    font-size : 0.4rem;
    display : inline;
}

#codetest-table {
    font-size : 0.7rem;
    width : 100%;
    text-align : center;
    margin-top : 0.5rem;
    border-spacing : 0px;
}

#codetest-table thead td {
    border-top : 1px solid white;
    border-bottom : 1px solid white;
}


#codetest-table tbody tr td a:visited {
    color : white;
}

#codetest-table tbody tr td a:hover {
    color : aqua;
}

tbody tr td a:link {
    color : white;
    text-decoration : none;
}

#codetest-table tbody td {
    border-bottom : 1px solid white;
}

#codetest-table tbody {
    font-size : 0.5rem;
}

#codetest-table caption {
    font-size : 0.4rem;
    text-align : right;
}

caption {
    font-size : 0.4rem;
    text-align : right;
}
