
.content {
    margin-left : 2%;
    margin-right : 2%;
    margin-top : 5%;
    marign-bottom : 5%;
    border-radius: 4px;
    border: 1px solid white;
}

.header {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2rem;
}


.header .header-content .nick {
    font-size: 1.5rem;
    margin: 0;
}

.header .header-content .information {
    font-size: 0.5rem;
    margin-top: 3%;
    margin-bottom: 3%;
}

.body {

}

.body .body-content {
    margin-left: 3%;
    margin-right : 3%;
}

.title {
    margin-bottom : 0.5%;
}
.body-content .introduce-content {
    font-size : 0.4rem;
}

.body-content .introduce-content p {
    margin : 0;
}


.sub::before{
    margin-left : 1%;
    content : "";
}

.sub {
    font-size : 0.5rem;
    margin-bottom : 0;
}



.sub-sub::before {
    content : " - ";
    margin-left : 2%;
}
.sub-sub {
    font-size : 0.35rem;
    margin-top : 0;
}
