<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>
        dobidugi
    </title>
    <link rel="stylesheet" href="css/background.css">
    <link rel="stylesheet" media="screen and (min-width : 1024px)" href="css/Desktop_index.css">
    <link rel="stylesheet" media="screen and (max-width : 1023px)" href="css/mobile_index.css">
</head>
<body>
<div class="content">
    <div class="header">
        <div class="header-content">
            <p class="nick">Yutae Lee</p>
            <div class="information">
                <div class="email"> 📧 this@kakao.com</div>
                <div class="phone"> 📞 +82 10-7633-0584</div>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="body-content">
            <p class="title">Introduce</p>
            <div class="introduce-content">
                <p>안녕하세요 백앤드 개발자를 희망하는 평범한대학생입니다.</p>
                <p>저와 함께 서비스를 만들고싶은 분들은 언제든지 연락주세요.</p>
            </div>
            <br/>
            <div class="Skills">
                <div class="title">Skills</div>
                <div>
                    <p class="sub">Programming Language</p>
                    <p class="sub-sub">Java,JavaScript,Python</p>
                    <p class="sub">Framework</p>
                    <p class="sub-sub">JavaSpring, JavaSpringBoot</p>
                    <p class="sub">Backend Development</p>
                    <p class="sub-sub">Linux, MySql, MongoDB</p>
                </div>
            </div>
            <br/>
            <div>
                <div class="Portfolio">Project</div>
                <div class="project-box" th:each="project : ${project}">
                    <p class="project-title" th:text="${project.name}"></p>
                    <p class="project-comment" th:text="${project.comment}"></p>
                    <a class="detail" th:href="@{'/home/' + ${project.detail}}"> detail </a> <a th:href="@{${project.git}}" class="git"> github </a>
                </div>
                <p th:text="${name}"></p>
            </div>
            <div>
                <div class="codingtest">CodingTest</div>
                <div class="codingtestbox">
                    <table id="codetest-table">
                        <caption>last update <a th:text="${updateTime}"></a></caption>
                        <thead>
                            <tr>
                                <td width="25%">site</td><td width="25%">nick</td><td width="25%">rank</td><td>solve</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="site : ${site}">
                                <td><a th:text="${site.name}" th:href="@{${site.nameLink}}"></a></td>
                                <td><a th:text="${site.nick}" th:href="@{${site.nickLink}}"></a></td>
                                <td th:text="${site.rank}"></td>
                                <td th:text="${site.solve}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div id="footer" style="padding : 10px ">

        </div>
    </div>
</div>
</body>
</html>